{% extends 'ecom/admin_base.html' %} {% load static %} {% block content %}

<br />
<br />
<br />
<br />
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <p>Bạn có chắc chắn xóa "{{ item.name }}"</p>

      <form action="{%url 'admin-delete-shipment' item.id %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-warning" href="{% url 'admin-shipment' %}">Cancel</a>

        <input class="btn btn-danger" type="submit" name="Confirm" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
