{% extends 'ecom/admin_base.html' %} {% load static %} {% block content %}

<head>
  <link
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .float {
      position: fixed;
      width: 70px;
      height: 70px;
      bottom: 60px;
      right: 60px;
      background-color: red;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      box-shadow: 3px 3px 3px #999;
    }

    .my-float {
      margin-top: 22px;
    }
  </style>
</head>
<!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->
<!-- Top filters -->

<div class="row">
  <div>
    <form method="get">
      {{shippmentFilter.form}}
      <button class="btn btn-primary" type="submit" style="margin: 20px">
        Search
      </button>
    </form>
  </div>
  <div>
    <a href="/admin-add-shipment">
      <button class="btn btn-primary" type="submit" style="margin: 20px">
        + Add new shipment
      </button>
    </a>
  </div>
</div>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Total Shipment List</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>

      {% for p in shipment %} {% if p %}
      <tr>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>
          <a
            class="btn btn-primary btn-xs"
            href="{% url 'update-shipment' p.id  %}"
            ><span class="glyphicon glyphicon-edit"></span
          ></a>
        </td>

        <td>
          <a
            class="btn btn-danger btn-xs"
            href="{% url 'delete-shipment' p.id %}"
            ><span class="glyphicon glyphicon-trash"></span
          ></a>
        </td>
      </tr>
      {%else%}
      <br /><br /><br />
      <h1>no shipment</h1>
      {% endif %} {% endfor %}
    </table>
  </div>
</div>
<!-- add product floating button 
<a href="/admin-add-product" class="float">
<i class="fa fa-plus my-float"></i>
</a>
-->

{% endblock content %}
