{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:60px;
	right:60px;
	background-color:red;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 3px 3px 3px #999;
}

.my-float{
	margin-top:22px;
}
  </style>
</head>
<!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->


<div class="row">
  <div>
    <form method="get">
        {{drinkFilter.form}}
      <button class="btn btn-primary" type="submit">Search</button>
    </form>	
  </div>
    <a href="/admin-add-drink">
      <button class="btn btn-primary" type="submit">+ Add new drink</button>
    </a>
</div>



<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Total Product List</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Size</th>
          <th>Type</th>
          <th>Expriration Date</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>

      {% for p in products %}
      {% if p %}
      <tr>
        <td> {{p.name}}</td>
        <td> {{p.description}}</td>
        <td>{{p.size}}</td>
        <td>{{p.type}}</td>
        <td>{{p.expiry}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-drink' p.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-drink' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {%else%}
      <br><br><br>
      <h1>no products</h1>
      {% endif %}
      {% endfor %}
    </table>


  </div>
  
</div>
<!-- add product floating button -->
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->
{% endblock content %}
